mcp[cli]==1.10.1
openai==1.75.0
python-dotenv
ipykernel
httpx
langchain>=0.1.14
langchain-community>=0.0.29 
langchain-core>=0.1.42
chromadb>=0.4.24
fastembed>=0.1.2
pypdf>=3.17.4
numpy>=1.24.4
aiohttp>=3.9.5
zenml
pytube
youtube-transcript-api
yt-dlp
qdrant-client
sentence-transformers